.uk-section-primary {
	background: rgb(2,0,36);
    background: linear-gradient(90deg, #0017e0 0%, #0020f2 48%, #0014dd 100%);
}

.uk-section-transparant {
	background: #39393900;
}

body {
    background-color: #0020f2; 
}