.uk-section-primary {
	background: rgb(2,0,36);
    background: linear-gradient(90deg, #0848a9 0%, #0848a9 48%, #0848a9 100%);
}

.uk-section-transparant {
	background: #39393900;
}

body {
    background-color: #0848a9; 
}